{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="page row">
	{% include 'partials/header.html.twig' %}
	{% include 'partials/breadcrumbs.html.twig' %}
	<div class="page-text">
		<div class="arrow-back"><a href="{{ page.parent.url }}" title="retour">â†</a></div>
		<!-- <div id="dialog-text"></div> -->
		<div id="ajax-wrap"></div>
		<div class="inner-text">
			{{ page.content }}
		</div>	
	</div>
	<!-- <div id="dialog"></div> -->
	<nav class="definition-list effluves" id="mini-dico">
	 <h2>Le mini dico du spectateur&#8239;: {{page.title}}</h2>
	 {{definition}}
	</nav> 
	{% for child in page.children %}
		{% if child.name is sameas("credits.md") %}
			{{credits}}
		{% endif %}
	{% endfor %}
</div>
{% endblock %}